{% extends 'base.html' %}
{% block content %}
<div
  hx-get="{% url 'dashboard' %}"
  hx-trigger="load"
  hx-target="this"
  hx-swap="innerHTML">
  Loading dashboard...
</div>
{% endblock %}
{% block navbar %}
    {% if user.is_authenticated %}
        {% if user.role == "TEACHER" %}
            {% include 'dashboard/partials/teacher_navbar.html' %}
        {% elif user.role == "STUDENT" %}
            {% include 'dashboard/partials/student_navbar.html' %}
        {% endif %}
    {% endif %}
{% endblock %}