 <dialog id="add-mark-modal" class="modal" open>
    <div class="modal-box text-center">
      <h3 class="font-semibold text-lg mb-4">Pridėti pažymį</h3>
      <form id="add-mark-form" class="flex flex-col items-center">
        {% csrf_token %}
        <div class="form-control mb-4 w-full max-w-xs">
          <label class="label">
            <span class="label-text">{{ form.semester.label }}</span>
          </label>
          {{ form.semester }}
        </div>
        <div class="form-control mb-4 w-full max-w-xs">
          <label class="label">
            <span class="label-text">{{ form.student.label }}</span>
          </label>
          <select name="student" class="select select-bordered" id="id_student"
            hx-get="{% url 'get_subjects_for_student' %}"
            hx-trigger="change" 
            hx-target="#id_subject" 
            hx-swap="innerHTML" 
            hx-vals='js:{student_id: event.target.value}'>
            <option value="">Pasirinkite mokinį</option>
            {% for choice_value, choice_label in form.student.field.choices %}
            <option value="{{ choice_value }}">{{ choice_label }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-control mb-4 w-full max-w-xs">
          <label class="label">
            <span class="label-text">{{ form.subject.label }}</span>
          </label>
          <select name="subject" class="select select-bordered" id="id_subject">
            <option value="">Pasirinkite dalyką</option>
          </select>
        </div>
        <div class="form-control mb-4 w-full max-w-xs">
          <label class="label">
            <span class="label-text">{{ form.value.label }}</span>
          </label>
         {{ form.value }}
        </div>
        <div class="modal-action">
          <button type="button" id="close-mark-modal" class="btn btn-ghost">Atšaukti</button>
          <button type="submit" class="btn btn-primary">Pridėti pažymį</button>
        </div>
      </form>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>